/* RESET */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 14px;
  font-family: inherit;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* /END RESET */
body {
  background: #673ab7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

p {
  line-height: 150%;
  margin: 0 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e4a74;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 20px;
  margin: 0 0 15px;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  margin: 0 0 12px;
  font-weight: normal;
}

h3 {
  font-size: 15px;
  margin: 0 0 12px;
  font-weight: normal;
}

h4,
h5,
h6 {
  margin: 5px 0 5px;
  font-weight: bold;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
}

* {
  box-sizing: border-box;
}

a img {
  border: none;
  outline: none;
}

a {
  color: #363636;
  outline: none;
  text-decoration: none;
}

a:hover {
  color: #999;
}

/* remove dotted lines on some links in FF browser */

a,
a:active,
a:visited,
a img {
  outline: none;
}

/* / */

/* CLEARFIX */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
/* /END CLEARFIX */

.header {
  width: 100%;
  height: auto;
  padding: 1em;
  background: #ffffff;
  color: #000000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header .title {
  font-size: 1.6em;
  font-weight: bold;
}

.add-new-list {
  background-color: hsla(0, 0%, 100%, 0.24);
  cursor: pointer;
  width: 100%;
  display: inline-block;
  border-radius: 3px;
  transition: all 150ms linear;
}

.add-new-list:hover {
  background-color: hsla(0, 0%, 100%, 0.32);
  transition: all 150ms linear;
}
.d-none {
  display: none !important;
}

.add-new-list .add-new {
  padding: 1em;
  font-size: 1.05em;
  color: #fff;
}
.input-action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main-content {
  margin: 1em;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  margin: 1em 0;
  grid-gap: 10px;
}

.list-container .list-item {
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 3px;
}

.list-heading {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.list-heading .title {
  padding: 1em;
  font-weight: bold;
  font-size: 1.2em;
  word-break: break-word;
  width: 100%;
  color: #172b4d;
  cursor: default;
}

.list-heading .delete-icon {
  cursor: pointer;
}

.dragging {
  background: transparent;
}
.list-heading .input-container {
  width: 100%;
}
.list-heading .input-container input {
  width: 100%;
  padding: 1em;
  font-size: 1.2em;
  font-weight: bold;
  border: 0;
}
.list-heading .input-container input:focus {
  border: 0;
  outline: 0;
}
.list-content {
}

.list-content .add-task {
  padding: 1em;
  cursor: pointer;
  border-top: 1px solid #172b4d;
  transition: all 150ms linear;
}

.list-content .add-task:hover {
  background-color: #dedede;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  transition: all 150ms linear;
}
.add-task-item-container {
  position: relative;
}
.task-list-items-container {
  max-height: 300px;
  overflow: auto;
}

.task-list-items-container body {
  background-color: #f5f5f5;
}

.task-list-items-container body .task-list-item {
  width: 90%;
  transition: all 250ms linear;
  margin: 0.5em auto;
}

.task-list-items-container body .task-list-item .list-action .edit-icon,
.task-list-items-container body .task-list-item .list-action .edit-check-icon,
.task-list-items-container body .task-list-item .list-action .delete-icon {
  font-size: 0.8em;
}

.task-list-items-container body .task-list-item .task-content {
  position: relative;
}

.task-list-item .task-content .task-info {
  padding: 1.5em;
  background: #dedede;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  overflow-wrap: break-word;
}

.show-on-drag-over {
  padding: 1.5em;
  background: #dedede;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  margin: 0.5em 0;
}

.task-list-items-container body .task-list-item .task-content span {
  font-size: 1em;
}

.task-list-items-container body .task-list-item:hover {
  box-shadow: 0 2px 0 rgba(9, 30, 66, 0.25);
  transition: all 250ms linear;
}

.task-list-action {
  display: flex;
  justify-content: space-evenly;
  margin: 0.5em;
}

.task-item-container textarea {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 1em;
  resize: none;
  font-size: 1em;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
}

.task-item-container textarea:focus {
  outline: 0;
}

.task-item {
  border-radius: 3px;
  background: #dedede;
  border: 1px solid #dedede;
  padding: 1em;
  margin: 5px;
}

.add-new-list input {
  border: 0;
  outline: 0;
  background: transparent;
  color: #fff;
  padding: 1em;
  font-size: 1em;
  width: 85%;
}

.add-new-list input::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

.add-new-list input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.add-new-list input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}
.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tick-mark {
  width: 20px;
  position: absolute;
  right: 1.5em;
  color: #fff;
  font-size: 1.3em;
}
.close-mark {
  width: 20px;
  position: absolute;
  right: 0.2em;
  color: #fff;
  font-size: 1.3em;
}
.txt-center {
  text-align: center;
}

.list-action {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 5px;
}

.edit-icon {
  margin-right: 5px;
  cursor: pointer;
}

.edit-check-icon {
  margin-right: 5px;
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
}

.delete-icon:hover {
  color: #d20000;
}

.edit-check-icon:hover {
  color: #0dd200;
}

.edit-icon:hover {
  color: #0dd200;
}
.tick-mark:hover {
  color: #0dd200;
}

.close-mark:hover {
  color: #d20000;
}

.input-task-item {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 1.5em;
  font-size: 1em;
}
